<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <form action="/admin/add-product?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= product.length !== 0 ? product.title : '' %>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.1" value="<%= product.length !== 0 ? product.price : '' %>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="<%= product.length !== 0 ? product.description : '' %>">
        </div>
        <!--<div>
            <label for="imageUrl">Image Name</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= product.length !== 0 ? product.imageUrl : '' %>">
        </div>-->
        <div>
            <% for (let category of categoryes) { %>
                <label for="<%= category.title %>"><%= category.title %></label>
                <% if (product.length !== 0) { %>
                    <input type="radio" name="radioCategory" id="<%= category.title %>" value="<%= category._id %>" <%= product.category.toString() === category._id.toString() ? 'checked="true"' : " " %>>
                    <% } else { %>
                        <input type="radio" name="radioCategory" id="<%= category.title %>" value="<%= category._id %>">                  
                        <% } %>
                        <% } %>            
                    </div>
        <div>
            <label for="image">Image</label>
            <input type="file" name="image" id="image" >
        </div>
        <input type="hidden" name="productId" value="<%= product.length !== 0 ? product._id : '' %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <button class="btn" type="submit"><%= product.length !== 0 ? 'Edit Product' : 'Add Product' %></button>
    </form>

<%- include('../includes/end.ejs') %>