<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/qrMaker.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <div class="templateUploadContainer">
       <form action="/admin/upload-template?_csrf=<%=csrfToken%>" method="POST" enctype='multipart/form-data'>
            <div class="templateUploader">
                <label for="pdf">Vybrat template</label>
                <input type="file" name="pdf" id="pdf" >
            </div>
            <button class="btn" type="submit">Nahrát</button>
        </form>
   </div>
   <div class="templateFormContainer">
       <form action="/admin/make-qr?_csrf=<%=csrfToken%>" method="POST">
            <% if (templates.length !== 0) { %>
                <div class="templatesContainer">
                    <% for (let templateTitle of templates) { %>
                        <div class="iframeContainer">
                            <iframe src="/templates/<%= templateTitle %>" height="auto" width="124px">
                            </iframe>
                            <div class="templateLabel">
                                <label for="<%= templateTitle %>"><%= templateTitle %></label>
                                <input type="radio" name="radioCategory" id="<%= templateTitle %>" value="<%= templateTitle %>">
                            </div>
                        </div>
                        
                    <% } %>
                </div>
                <div class="tableNumberInput">
                    <label for="tableNumber">Číslo stolu</label>
                    <input class="input" type="number" name="tableNumber" id="tableNumber">
                </div> 
                <button class="btn" type="submit">Vytvořit</button>
            <% } else { %>
                <h1>Žádné templaty!</h1>                  
            <% } %>
        </form>
   </div>
    <% if (tablesQR.length !== 0) { %>
        <div class="templatesContainer">
            <% for (let tableQR of tablesQR) { %>
                <div class="container">
                    <h2><%= tableQR %></h2>
                    <iframe src="/pdf/<%= tableQR %>" height="350px" width="auto">
                    </iframe>
                </div>
                
            <% } %>
        </div>
    <% } else { %>
        <h1>Žádné menu!</h1>                  
    <% } %>

<%- include('../includes/end.ejs') %>