<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/qrMaker.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <form action="/admin/upload-template?_csrf=<%=csrfToken%>" method="POST" enctype='multipart/form-data'>
        <div>
            <label for="pdf">Vybrat template</label>
            <input type="file" name="pdf" id="pdf" >
        </div>
        <button class="btn" type="submit">Nahrát</button>
    </form>
   <form action="/admin/make-qr?_csrf=<%=csrfToken%>" method="POST">
        <% if (templates.length !== 0) { %>
            <div class="templatesContainer">
                <% for (let templateTitle of templates) { %>
                    <div class="container">
                        <iframe src="/templates/<%= templateTitle %>" height="auto" width="124px">
                        </iframe>
                        <div>
                            <label for="<%= templateTitle %>"><%= templateTitle %></label>
                            <input type="radio" name="radioCategory" id="<%= templateTitle %>" value="<%= templateTitle %>">
                        </div>
                    </div>
                    
                <% } %>
            </div>
        <% } else { %>
            <h1>Žádné templaty!</h1>                  
        <% } %>
        <div>
            <label for="tableNumber">Číslo stolu</label>
            <input class="input" type="number" name="tableNumber" id="tableNumber">
        </div> 
        <button class="btn" type="submit">Vytvořit</button>
    </form>
    <% if (tablesQR.length !== 0) { %>
        <div class="templatesContainer">
            <% for (let tableQR of tablesQR) { %>
                <div class="container">
                    <h2><%= tableQR %></h2>
                    <iframe src="/pdf/<%= tableQR %>" height="350px" width="auto">
                    </iframe>
                </div>
                
            <% } %>
        </div>
    <% } else { %>
        <h1>Žádné menu!</h1>                  
    <% } %>

<%- include('../includes/end.ejs') %>