<form action="<%= action %>" method="<%= method %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit"><%= btnText %></button>
    <input type="hidden" name="Id" value="<%= product %>">
</form>
