<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<header class="header">
    <h1 class="warning">Test site!!</h1>
    <nav class="nav">
        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#313131" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,133.3C672,149,768,203,864,224C960,245,1056,235,1152,208C1248,181,1344,139,1392,117.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
          </svg>
            
        <img class="logo" src="/images/logo.png" alt="QiFood">
        <ul class="navUl">
            <li class="navLi">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Domů</a>
            </li>
            <li class="navLi">
                <a class="<%= path === '/menu' ? 'active' : '' %>" href="/menu">Menu</a>
            </li>
            <li class="navLi">
                <a class="<%= path === '/kontakt' ? 'active' : '' %>" href="/kontakt">Kontakt</a>
            </li>
            <% if (isAdmin) { %>
                <li class="navLi">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="navLi">
                    <a class="<%= path === '/admin/make-qr' ? 'active' : '' %>" href="/admin/make-qr">Tvůrce QR
                    </a>
                </li>
                <li class="navLi">
                    <a class="<%= path === '/admin/add-category' ? 'active' : '' %>" href="/admin/add-category">Add Category
                    </a>
                </li>
            <% } %> 
            <li class="navLi">
                <a class="<%= path === '/cart' ? 'active' : '' %> numberOfProducts" href="/cart">Cart</a>
            </li>
            <li class="navLi">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>           
        </ul>
        <ul >
            <% if (!isAuthenticated) { %>
                <li class="navLi">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="navLi">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="navLi">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
    <style>
        .numberOfProducts::after {
            content: "<%= productsForAfter %>";
        }
    </style>            

</header>

