<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/landingPage.css">
</head>
<div class="backdrop"></div>
<header class="header">
    <div class="nav-container">
        <nav class="nav">
            <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#313131" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,133.3C672,149,768,203,864,224C960,245,1056,235,1152,208C1248,181,1344,139,1392,117.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
            </svg>
                
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">      <svg class="logo" width="215" height="109" viewBox="0 0 215 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100.429 69.3987L80.5491 67.6503C74.6423 67.1309 71.1926 60.7395 74 55.5167L82.088 40.4696C85.3438 34.4124 94.5672 37.2559 93.8473 44.0949C93.2593 49.6814 96.8934 54.8427 102.326 56.2098C106.343 57.2205 107.913 60.6109 107.425 63.8713C106.939 67.1127 104.504 69.7571 100.429 69.3987Z" stroke="#F8EDED" stroke-width="5"/>
                <path d="M118.608 37.0647L138.343 40.0278C144.207 40.9082 147.259 47.4989 144.137 52.5399L135.142 67.0631C131.521 72.9095 122.489 69.5063 123.627 62.7243C124.556 57.1842 121.245 51.81 115.906 50.1126C111.959 48.8577 110.6 45.3775 111.287 42.1531C111.969 38.9476 114.562 36.4573 118.608 37.0647Z" stroke="#E64934" stroke-width="5"/>
                <path d="M83.56 86.136C83.56 85.304 83.688 84.568 83.944 83.928C84.2107 83.288 84.568 82.7547 85.016 82.328C85.4747 81.8907 86.008 81.56 86.616 81.336C87.2347 81.112 87.9013 81 88.616 81C89.3307 81 89.992 81.112 90.6 81.336C91.2187 81.56 91.7573 81.8907 92.216 82.328C92.6747 82.7547 93.032 83.288 93.288 83.928C93.5547 84.568 93.688 85.304 93.688 86.136C93.688 87.1813 93.496 88.072 93.112 88.808C92.728 89.5333 92.2053 90.104 91.544 90.52C91.704 90.5947 91.8907 90.6747 92.104 90.76C92.328 90.8453 92.5573 90.9307 92.792 91.016C93.0373 91.1013 93.288 91.1813 93.544 91.256C93.8 91.3413 94.04 91.416 94.264 91.48C94.2747 91.544 94.28 91.5973 94.28 91.64C94.28 91.6933 94.28 91.7413 94.28 91.784C94.28 92.392 94.12 92.8347 93.8 93.112C93.4907 93.3893 93.08 93.528 92.568 93.528C92.0773 93.528 91.5707 93.3893 91.048 93.112C90.5253 92.8453 89.992 92.456 89.448 91.944L88.744 91.288H88.616C87.8907 91.288 87.2187 91.176 86.6 90.952C85.9813 90.7173 85.448 90.3813 85 89.944C84.552 89.5067 84.2 88.968 83.944 88.328C83.688 87.688 83.56 86.9573 83.56 86.136ZM86.44 86.136C86.44 87.1067 86.6373 87.832 87.032 88.312C87.4267 88.792 87.9547 89.032 88.616 89.032C89.288 89.032 89.8213 88.792 90.216 88.312C90.6107 87.832 90.808 87.1067 90.808 86.136C90.808 85.176 90.6107 84.456 90.216 83.976C89.832 83.496 89.304 83.256 88.632 83.256C87.9707 83.256 87.4373 83.496 87.032 83.976C86.6373 84.4453 86.44 85.1653 86.44 86.136ZM95.0493 81.064C95.0493 80.6587 95.1826 80.3173 95.4493 80.04C95.7266 79.7627 96.0893 79.624 96.5373 79.624C96.9853 79.624 97.3426 79.7627 97.6093 80.04C97.8866 80.3173 98.0253 80.6587 98.0253 81.064C98.0253 81.4693 97.8866 81.8107 97.6093 82.088C97.3426 82.3653 96.9853 82.504 96.5373 82.504C96.0893 82.504 95.7266 82.3653 95.4493 82.088C95.1826 81.8107 95.0493 81.4693 95.0493 81.064ZM97.8973 90.984C97.7799 91.0053 97.6039 91.032 97.3693 91.064C97.1453 91.1067 96.9159 91.128 96.6813 91.128C96.4466 91.128 96.2333 91.112 96.0413 91.08C95.8599 91.048 95.7053 90.984 95.5773 90.888C95.4493 90.792 95.3479 90.664 95.2733 90.504C95.2093 90.3333 95.1773 90.1147 95.1773 89.848V83.336C95.2946 83.3147 95.4653 83.288 95.6893 83.256C95.9239 83.2133 96.1586 83.192 96.3932 83.192C96.6279 83.192 96.8359 83.208 97.0173 83.24C97.2093 83.272 97.3693 83.336 97.4973 83.432C97.6253 83.528 97.7213 83.6613 97.7853 83.832C97.8599 83.992 97.8973 84.2053 97.8973 84.472V90.984ZM106.653 81.304C106.728 81.4213 106.792 81.5813 106.845 81.784C106.909 81.976 106.941 82.1787 106.941 82.392C106.941 82.808 106.85 83.1067 106.669 83.288C106.498 83.4587 106.264 83.544 105.965 83.544H102.605V85.352H106.109C106.194 85.4693 106.264 85.624 106.317 85.816C106.381 86.008 106.413 86.2107 106.413 86.424C106.413 86.8293 106.322 87.1227 106.141 87.304C105.97 87.4747 105.736 87.56 105.437 87.56H102.637V90.936C102.52 90.968 102.333 91 102.077 91.032C101.832 91.064 101.586 91.08 101.341 91.08C101.096 91.08 100.877 91.0587 100.685 91.016C100.504 90.984 100.349 90.92 100.221 90.824C100.093 90.728 99.9969 90.5947 99.9329 90.424C99.8689 90.2533 99.8369 90.0293 99.8369 89.752V82.792C99.8369 82.3333 99.9702 81.9707 100.237 81.704C100.504 81.4373 100.866 81.304 101.325 81.304H106.653ZM115.818 87.112C115.818 87.7733 115.716 88.3653 115.514 88.888C115.311 89.4 115.023 89.832 114.65 90.184C114.287 90.536 113.85 90.8027 113.338 90.984C112.826 91.1653 112.255 91.256 111.626 91.256C110.996 91.256 110.426 91.16 109.914 90.968C109.402 90.776 108.959 90.504 108.586 90.152C108.223 89.7893 107.94 89.352 107.738 88.84C107.535 88.328 107.434 87.752 107.434 87.112C107.434 86.4827 107.535 85.912 107.738 85.4C107.94 84.888 108.223 84.456 108.586 84.104C108.959 83.7413 109.402 83.464 109.914 83.272C110.426 83.08 110.996 82.984 111.626 82.984C112.255 82.984 112.826 83.0853 113.338 83.288C113.85 83.48 114.287 83.7573 114.65 84.12C115.023 84.472 115.311 84.904 115.514 85.416C115.716 85.928 115.818 86.4933 115.818 87.112ZM110.218 87.112C110.218 87.7627 110.34 88.264 110.586 88.616C110.842 88.9573 111.194 89.128 111.641 89.128C112.09 89.128 112.431 88.952 112.666 88.6C112.911 88.248 113.034 87.752 113.034 87.112C113.034 86.472 112.911 85.9813 112.666 85.64C112.42 85.288 112.074 85.112 111.626 85.112C111.178 85.112 110.831 85.288 110.586 85.64C110.34 85.9813 110.218 86.472 110.218 87.112ZM125.193 87.112C125.193 87.7733 125.091 88.3653 124.889 88.888C124.686 89.4 124.398 89.832 124.025 90.184C123.662 90.536 123.225 90.8027 122.713 90.984C122.201 91.1653 121.63 91.256 121.001 91.256C120.371 91.256 119.801 91.16 119.289 90.968C118.777 90.776 118.334 90.504 117.961 90.152C117.598 89.7893 117.315 89.352 117.113 88.84C116.91 88.328 116.809 87.752 116.809 87.112C116.809 86.4827 116.91 85.912 117.113 85.4C117.315 84.888 117.598 84.456 117.961 84.104C118.334 83.7413 118.777 83.464 119.289 83.272C119.801 83.08 120.371 82.984 121.001 82.984C121.63 82.984 122.201 83.0853 122.713 83.288C123.225 83.48 123.662 83.7573 124.025 84.12C124.398 84.472 124.686 84.904 124.889 85.416C125.091 85.928 125.193 86.4933 125.193 87.112ZM119.593 87.112C119.593 87.7627 119.715 88.264 119.961 88.616C120.217 88.9573 120.569 89.128 121.016 89.128C121.465 89.128 121.806 88.952 122.041 88.6C122.286 88.248 122.409 87.752 122.409 87.112C122.409 86.472 122.286 85.9813 122.041 85.64C121.795 85.288 121.449 85.112 121.001 85.112C120.553 85.112 120.206 85.288 119.961 85.64C119.715 85.9813 119.593 86.472 119.593 87.112ZM126.184 87.112C126.184 86.408 126.29 85.8 126.504 85.288C126.717 84.7653 127.01 84.3333 127.384 83.992C127.768 83.6507 128.21 83.4 128.712 83.24C129.224 83.0693 129.773 82.984 130.36 82.984C130.573 82.984 130.781 83.0053 130.984 83.048C131.186 83.08 131.352 83.1227 131.48 83.176V80.584C131.586 80.552 131.757 80.52 131.992 80.488C132.226 80.4453 132.466 80.424 132.712 80.424C132.946 80.424 133.154 80.44 133.336 80.472C133.528 80.504 133.688 80.568 133.816 80.664C133.944 80.76 134.04 80.8933 134.104 81.064C134.168 81.224 134.2 81.4373 134.2 81.704V89.288C134.2 89.7893 133.965 90.1893 133.496 90.488C133.186 90.6907 132.786 90.8667 132.296 91.016C131.805 91.176 131.24 91.256 130.6 91.256C129.906 91.256 129.282 91.16 128.728 90.968C128.184 90.776 127.72 90.4987 127.336 90.136C126.962 89.7733 126.674 89.3413 126.472 88.84C126.28 88.328 126.184 87.752 126.184 87.112ZM130.728 85.112C130.152 85.112 129.709 85.2773 129.4 85.608C129.09 85.9387 128.936 86.44 128.936 87.112C128.936 87.7733 129.08 88.2747 129.368 88.616C129.656 88.9467 130.072 89.112 130.616 89.112C130.808 89.112 130.978 89.0853 131.128 89.032C131.288 88.968 131.41 88.8987 131.496 88.824V85.304C131.282 85.176 131.026 85.112 130.728 85.112Z" fill="#F8EDED"/>
            </svg></a>
            <ul class="navUl">
                <li class="navLi">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Domů</a>
                </li>
                <li class="navLi">
                    <a class="<%= path === '/menu' ? 'active' : '' %>" href="/menu">Menu</a>
                </li>
                <!--<li class="navLi">
                    <a class="<%= path === '/kontakt' ? 'active' : '' %>" href="/kontakt">Kontakt</a>
                </li>-->
                <% if (isAdmin) { %>
                    <li class="navLi">
                        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Přidat produkt
                        </a>
                    </li>
                    <li class="navLi">
                        <a class="<%= path === '/admin/make-qr' ? 'active' : '' %>" href="/admin/make-qr">Tvůrce QR
                        </a>
                    </li>
                    <li class="navLi">
                        <a class="<%= path === '/admin/add-category' ? 'active' : '' %>" href="/admin/add-category">Přidat kategorii
                        </a>
                    </li>
                <% } %> 
                <li class="navLi">
                    <a class="<%= path === '/cart' ? 'active' : '' %> numberOfProducts" href="/cart">Košík</a>
                </li>
                <li class="navLi">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Objednávky</a>
                </li>           
            </ul>
            <ul class="constainerLS">
                <% if (!isAuthenticated) { %>
                    <li class="navLi">
                        <a class="<%= path === '/login' ? 'active' : '' %> login" href="/login">Login</a>
                    </li>
                    <hr>
                    <li class="navLi">
                        <a class="<%= path === '/signup' ? 'active' : '' %> signup" href="/signup">Signup</a>
                    </li>
                <% } else { %>
                    <li class="navLi loggoutBtnContainer">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn loggoutBtn" type="submit">Logout</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">
            <svg class="mobile-logo" width="215" height="109" viewBox="0 0 215 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100.429 69.3987L80.5491 67.6503C74.6423 67.1309 71.1926 60.7395 74 55.5167L82.088 40.4696C85.3438 34.4124 94.5672 37.2559 93.8473 44.0949C93.2593 49.6814 96.8934 54.8427 102.326 56.2098C106.343 57.2205 107.913 60.6109 107.425 63.8713C106.939 67.1127 104.504 69.7571 100.429 69.3987Z" stroke="#F8EDED" stroke-width="5"/>
                <path d="M118.608 37.0647L138.343 40.0278C144.207 40.9082 147.259 47.4989 144.137 52.5399L135.142 67.0631C131.521 72.9095 122.489 69.5063 123.627 62.7243C124.556 57.1842 121.245 51.81 115.906 50.1126C111.959 48.8577 110.6 45.3775 111.287 42.1531C111.969 38.9476 114.562 36.4573 118.608 37.0647Z" stroke="#E64934" stroke-width="5"/>
                <path d="M83.56 86.136C83.56 85.304 83.688 84.568 83.944 83.928C84.2107 83.288 84.568 82.7547 85.016 82.328C85.4747 81.8907 86.008 81.56 86.616 81.336C87.2347 81.112 87.9013 81 88.616 81C89.3307 81 89.992 81.112 90.6 81.336C91.2187 81.56 91.7573 81.8907 92.216 82.328C92.6747 82.7547 93.032 83.288 93.288 83.928C93.5547 84.568 93.688 85.304 93.688 86.136C93.688 87.1813 93.496 88.072 93.112 88.808C92.728 89.5333 92.2053 90.104 91.544 90.52C91.704 90.5947 91.8907 90.6747 92.104 90.76C92.328 90.8453 92.5573 90.9307 92.792 91.016C93.0373 91.1013 93.288 91.1813 93.544 91.256C93.8 91.3413 94.04 91.416 94.264 91.48C94.2747 91.544 94.28 91.5973 94.28 91.64C94.28 91.6933 94.28 91.7413 94.28 91.784C94.28 92.392 94.12 92.8347 93.8 93.112C93.4907 93.3893 93.08 93.528 92.568 93.528C92.0773 93.528 91.5707 93.3893 91.048 93.112C90.5253 92.8453 89.992 92.456 89.448 91.944L88.744 91.288H88.616C87.8907 91.288 87.2187 91.176 86.6 90.952C85.9813 90.7173 85.448 90.3813 85 89.944C84.552 89.5067 84.2 88.968 83.944 88.328C83.688 87.688 83.56 86.9573 83.56 86.136ZM86.44 86.136C86.44 87.1067 86.6373 87.832 87.032 88.312C87.4267 88.792 87.9547 89.032 88.616 89.032C89.288 89.032 89.8213 88.792 90.216 88.312C90.6107 87.832 90.808 87.1067 90.808 86.136C90.808 85.176 90.6107 84.456 90.216 83.976C89.832 83.496 89.304 83.256 88.632 83.256C87.9707 83.256 87.4373 83.496 87.032 83.976C86.6373 84.4453 86.44 85.1653 86.44 86.136ZM95.0493 81.064C95.0493 80.6587 95.1826 80.3173 95.4493 80.04C95.7266 79.7627 96.0893 79.624 96.5373 79.624C96.9853 79.624 97.3426 79.7627 97.6093 80.04C97.8866 80.3173 98.0253 80.6587 98.0253 81.064C98.0253 81.4693 97.8866 81.8107 97.6093 82.088C97.3426 82.3653 96.9853 82.504 96.5373 82.504C96.0893 82.504 95.7266 82.3653 95.4493 82.088C95.1826 81.8107 95.0493 81.4693 95.0493 81.064ZM97.8973 90.984C97.7799 91.0053 97.6039 91.032 97.3693 91.064C97.1453 91.1067 96.9159 91.128 96.6813 91.128C96.4466 91.128 96.2333 91.112 96.0413 91.08C95.8599 91.048 95.7053 90.984 95.5773 90.888C95.4493 90.792 95.3479 90.664 95.2733 90.504C95.2093 90.3333 95.1773 90.1147 95.1773 89.848V83.336C95.2946 83.3147 95.4653 83.288 95.6893 83.256C95.9239 83.2133 96.1586 83.192 96.3932 83.192C96.6279 83.192 96.8359 83.208 97.0173 83.24C97.2093 83.272 97.3693 83.336 97.4973 83.432C97.6253 83.528 97.7213 83.6613 97.7853 83.832C97.8599 83.992 97.8973 84.2053 97.8973 84.472V90.984ZM106.653 81.304C106.728 81.4213 106.792 81.5813 106.845 81.784C106.909 81.976 106.941 82.1787 106.941 82.392C106.941 82.808 106.85 83.1067 106.669 83.288C106.498 83.4587 106.264 83.544 105.965 83.544H102.605V85.352H106.109C106.194 85.4693 106.264 85.624 106.317 85.816C106.381 86.008 106.413 86.2107 106.413 86.424C106.413 86.8293 106.322 87.1227 106.141 87.304C105.97 87.4747 105.736 87.56 105.437 87.56H102.637V90.936C102.52 90.968 102.333 91 102.077 91.032C101.832 91.064 101.586 91.08 101.341 91.08C101.096 91.08 100.877 91.0587 100.685 91.016C100.504 90.984 100.349 90.92 100.221 90.824C100.093 90.728 99.9969 90.5947 99.9329 90.424C99.8689 90.2533 99.8369 90.0293 99.8369 89.752V82.792C99.8369 82.3333 99.9702 81.9707 100.237 81.704C100.504 81.4373 100.866 81.304 101.325 81.304H106.653ZM115.818 87.112C115.818 87.7733 115.716 88.3653 115.514 88.888C115.311 89.4 115.023 89.832 114.65 90.184C114.287 90.536 113.85 90.8027 113.338 90.984C112.826 91.1653 112.255 91.256 111.626 91.256C110.996 91.256 110.426 91.16 109.914 90.968C109.402 90.776 108.959 90.504 108.586 90.152C108.223 89.7893 107.94 89.352 107.738 88.84C107.535 88.328 107.434 87.752 107.434 87.112C107.434 86.4827 107.535 85.912 107.738 85.4C107.94 84.888 108.223 84.456 108.586 84.104C108.959 83.7413 109.402 83.464 109.914 83.272C110.426 83.08 110.996 82.984 111.626 82.984C112.255 82.984 112.826 83.0853 113.338 83.288C113.85 83.48 114.287 83.7573 114.65 84.12C115.023 84.472 115.311 84.904 115.514 85.416C115.716 85.928 115.818 86.4933 115.818 87.112ZM110.218 87.112C110.218 87.7627 110.34 88.264 110.586 88.616C110.842 88.9573 111.194 89.128 111.641 89.128C112.09 89.128 112.431 88.952 112.666 88.6C112.911 88.248 113.034 87.752 113.034 87.112C113.034 86.472 112.911 85.9813 112.666 85.64C112.42 85.288 112.074 85.112 111.626 85.112C111.178 85.112 110.831 85.288 110.586 85.64C110.34 85.9813 110.218 86.472 110.218 87.112ZM125.193 87.112C125.193 87.7733 125.091 88.3653 124.889 88.888C124.686 89.4 124.398 89.832 124.025 90.184C123.662 90.536 123.225 90.8027 122.713 90.984C122.201 91.1653 121.63 91.256 121.001 91.256C120.371 91.256 119.801 91.16 119.289 90.968C118.777 90.776 118.334 90.504 117.961 90.152C117.598 89.7893 117.315 89.352 117.113 88.84C116.91 88.328 116.809 87.752 116.809 87.112C116.809 86.4827 116.91 85.912 117.113 85.4C117.315 84.888 117.598 84.456 117.961 84.104C118.334 83.7413 118.777 83.464 119.289 83.272C119.801 83.08 120.371 82.984 121.001 82.984C121.63 82.984 122.201 83.0853 122.713 83.288C123.225 83.48 123.662 83.7573 124.025 84.12C124.398 84.472 124.686 84.904 124.889 85.416C125.091 85.928 125.193 86.4933 125.193 87.112ZM119.593 87.112C119.593 87.7627 119.715 88.264 119.961 88.616C120.217 88.9573 120.569 89.128 121.016 89.128C121.465 89.128 121.806 88.952 122.041 88.6C122.286 88.248 122.409 87.752 122.409 87.112C122.409 86.472 122.286 85.9813 122.041 85.64C121.795 85.288 121.449 85.112 121.001 85.112C120.553 85.112 120.206 85.288 119.961 85.64C119.715 85.9813 119.593 86.472 119.593 87.112ZM126.184 87.112C126.184 86.408 126.29 85.8 126.504 85.288C126.717 84.7653 127.01 84.3333 127.384 83.992C127.768 83.6507 128.21 83.4 128.712 83.24C129.224 83.0693 129.773 82.984 130.36 82.984C130.573 82.984 130.781 83.0053 130.984 83.048C131.186 83.08 131.352 83.1227 131.48 83.176V80.584C131.586 80.552 131.757 80.52 131.992 80.488C132.226 80.4453 132.466 80.424 132.712 80.424C132.946 80.424 133.154 80.44 133.336 80.472C133.528 80.504 133.688 80.568 133.816 80.664C133.944 80.76 134.04 80.8933 134.104 81.064C134.168 81.224 134.2 81.4373 134.2 81.704V89.288C134.2 89.7893 133.965 90.1893 133.496 90.488C133.186 90.6907 132.786 90.8667 132.296 91.016C131.805 91.176 131.24 91.256 130.6 91.256C129.906 91.256 129.282 91.16 128.728 90.968C128.184 90.776 127.72 90.4987 127.336 90.136C126.962 89.7733 126.674 89.3413 126.472 88.84C126.28 88.328 126.184 87.752 126.184 87.112ZM130.728 85.112C130.152 85.112 129.709 85.2773 129.4 85.608C129.09 85.9387 128.936 86.44 128.936 87.112C128.936 87.7733 129.08 88.2747 129.368 88.616C129.656 88.9467 130.072 89.112 130.616 89.112C130.808 89.112 130.978 89.0853 131.128 89.032C131.288 88.968 131.41 88.8987 131.496 88.824V85.304C131.282 85.176 131.026 85.112 130.728 85.112Z" fill="#F8EDED"/>
            </svg>
        </a>
        <div class="mobile-landing-page">
            <svg class="mobile-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#313131" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,133.3C672,149,768,203,864,224C960,245,1056,235,1152,208C1248,181,1344,139,1392,117.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
            </svg>
        </div>
        <button id="side-menu-toggle">
            <svg width="62" height="55" viewBox="0 0 62 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_201_6)">
                <line x1="37.5" y1="7.5" x2="54.5" y2="7.5" stroke="#F8EDED" stroke-width="3" stroke-linecap="round"/>
                <line x1="7.5" y1="27.5" x2="54.5" y2="27.5" stroke="#F8EDED" stroke-width="3" stroke-linecap="round"/>
                <line x1="7.5" y1="47.5" x2="44.5" y2="47.5" stroke="#F8EDED" stroke-width="3" stroke-linecap="round"/>
                </g>
                <defs>
                <filter id="filter0_d_201_6" x="0" y="0" width="62" height="55" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="3"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_201_6"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_201_6" result="shape"/>
                </filter>
                </defs>
                </svg>
        </button>
        <button id="side-menu-toggle-close">
            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_201_13)">
                <line x1="28.6963" y1="20.5053" x2="40.7171" y2="8.48445" stroke="#313131" stroke-width="3" stroke-linecap="round"/>
                <line x1="9.12132" y1="8" x2="42.3553" y2="41.234" stroke="#313131" stroke-width="3" stroke-linecap="round"/>
                <line x1="7.71533" y1="41.4542" x2="33.8783" y2="15.2913" stroke="#313131" stroke-width="3" stroke-linecap="round"/>
                </g>
                <defs>
                <filter id="filter0_d_201_13" x="0.215332" y="0.5" width="49.6401" height="48.4542" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="3"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_201_13"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_201_13" result="shape"/>
                </filter>
                </defs>
                </svg>
        </button>
        <nav class="mobile-nav">    
                <ul class="mobile-navUl">
                    <li class="mobile-navLi">
                        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Domů</a>
                    </li>
                    <li class="mobile-navLi">
                        <a class="<%= path === '/menu' ? 'active' : '' %>" href="/menu">Menu</a>
                    </li>
                    <!--<li class="mobile-navLi">
                        <a class="<%= path === '/kontakt' ? 'active' : '' %>" href="/kontakt">Kontakt</a>
                    </li>-->
                    <% if (isAdmin) { %>
                        <li class="mobile-navLi">
                            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Přidat produkt
                            </a>
                        </li>
                        <li class="mobile-navLi">
                            <a class="<%= path === '/admin/make-qr' ? 'active' : '' %>" href="/admin/make-qr">Tvůrce QR
                            </a>
                        </li>
                        <li class="mobile-navLi">
                            <a class="<%= path === '/admin/add-category' ? 'active' : '' %>" href="/admin/add-category">přidat kategorii
                            </a>
                        </li>
                    <% } %> 
                    <li class="mobile-navLi">
                        <a class="<%= path === '/cart' ? 'active' : '' %> numberOfProducts" href="/cart">Košík</a>
                    </li>
                    <li class="mobile-navLi">
                        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Objednávky</a>
                    </li>           
                </ul>
                <ul class="constainerLS">
                    <% if (!isAuthenticated) { %>
                        <li class="mobile-navLi">
                            <a class="<%= path === '/login' ? 'active' : '' %> login" href="/login">Login</a>
                        </li>
                        <hr>
                        <li class="mobile-navLi">
                            <a class="<%= path === '/signup' ? 'active' : '' %> signup" href="/signup">Signup</a>
                        </li>
                    <% } else { %>
                        <li class="mobile-navLi loggoutBtnContainer">
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn loggoutBtn" type="submit">Logout</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <style>
            .numberOfProducts::after {
                content: "<%= productsForAfter %>";
            }
        </style>           
</header>



