<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/category.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (categoryes.length > 0) { %>
            <div class="categoryesContainer">
                <% for (let category of categoryes) { %>
                    <article class="categoryContainer">
                        <a class="categoryUrl" href="<%= category.url %>">
                        <div class="categoryImageContainer" >
                            <img class="categoryImage" src="/images/<%= category.imageUrl %>"
                                alt="<%= category.title %>">
                        </div>
                        <header class="categoryTitleHeader">
                            <h2 class="categoryTitle"><%= category.title %></h2>
                        </header>
                        </a>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Categoryes Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>