<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<% if (categoryes.length > 0) { %>
		<div class="menuContainer">
			<% for (let category of categoryes) { %>
			<article class="categoryContainerMenu">
				<div class="categoryImageMenu" style="background-image: url('/images/<%= category.imageUrl.split(dot)[0] %>Dark.<%=category.imageUrl.split(dot)[1] %>');  ">
				<header class="categoryHeaderMenu">
					<h2><%= category.title %></h2>
				</header>
            </div>
			</article>
			<div class="produtContainer">
				<% for (let product of category.products.productsArray) { %>
				<div class="product">
					<div class="containerMain">
						<img
							class="productImage"
							src="/images/<%= product.productId.imageUrl %>"
							alt="<%= product.productId.imageUrl %>"
						/>
						<div class="productInfo">
							<h2><%= product.productId.title %></h2>
                            <h3><%= product.productId.description %></h3>
						</div>
					</div>
					<% if (isAdmin) { %>
						<form action="admin/edit-product" method="POST">
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							<button class="btn" type="submit">Edit product</button>
							<input type="hidden" name="productId" value="<%= product.productId._id %>">

						</form>
					<% } %>
                    <!--<h2><%= product.productId.category %></h2>-->
					<div class="productPrice">
                        <h2><%= product.productId.price %> Kč</h2>
                        <%- include('../includes/add-to-cart.ejs', {product:
                            product.productId, btnText: "Přidat do košíku", quantity: 1, action: "/cart"}) %> 
					</div>
				</div>
                <% } %>
			</div>
			<% } %>
		</div>
		<% } else { %>
		<h1>No Categoryes Found!</h1>
		<% } %> <%- include('../includes/end.ejs') %>
	</main>
</body>
