<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
</head>

<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<% if (categoryes.length > 0) { %>
		<div class="menuContainer">
			<% for (let category of categoryes) { %>
			<div class="categoryContainerMenu">
				<div class="categoryImageMenu" style="background-image: url('<%= category.imageUrl %>');  ">
					<header class="categoryHeaderMenu">
						<h2><%= category.title %></h2>
					</header>
            	</div>
			</div>
			<div class="produtContainer">
				<% for (let product of category.products) { %>
				<div class="product">
					<div class="containerMain">
						<img
							class="productImage"
							src="<%= product.productId.imageUrl %>"
							alt="<%= product.productId.imageUrl %>"
						/>
						<div class="productInfo">
							<h2><%= product.productId.title %></h2>
                            <h3><%= product.productId.description %></h3>
						</div>
					</div>
					<% if (isAdmin) { %>
						<%- include('../includes/button.ejs', {product:
                            product.productId._id, btnText: "Edit product", action: "admin/edit-product", method: "post"}) %> 
						<%- include('../includes/button.ejs', {product:
							product.productId._id, btnText: "Delete product", action: "admin/delete-product",  method: "post"}) %> 
					<% } %>
                    <!--<h2><%= product.productId.category %></h2>-->
					<div class="productPrice">
                        <h2><%= product.productId.price %> Kč</h2>
                        <%- include('../includes/add-to-cart.ejs', {product:
                            product.productId, btnText: "Přidat do košíku", quantity: 1, action: "/cart"}) %> 
					</div>
				</div>
                <% } %>
			</div>
			<% } %>
		</div>
		<% } else { %>
			<h1>No Categoryes Found!</h1>
		<% } %> 		
	</main>
	<%- include('../includes/end.ejs') %>
</body>
