<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css" />
<link rel="stylesheet" href="/css/product.css" />
</head>
    
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
            <% for (let product of order.products) { %>
                <div class="product">
                    <div class="containerMain">
                        <img
                            class="productImage"
                            src="/images/<%= product.productId.imageUrl %>"
                            alt="<%= product.productId.imageUrl %>"
                        />
                        <div class="productInfo">
                            <h2><%= product.productId.title %></h2>
                            <h3><%= product.productId.description %></h3>
                        </div>
                    </div>
                    <div class="productPriceCart">
                        <h2><%= product.productId.price  *  product.quantity %>Kč </h2>
                        <% if (product.quantity !== 1) { %>
                            <h4><%= product.productId.price %>Kč * <%= product.quantity %> </h4>
                        <% } %>
                    </div>
                </div>
                <hr>
            <% } %>
        <%- include('../includes/end.ejs') %>
	</main>
</body>
